.container{
    margin-bottom: 90px;
}
.my-bg{
    background-color: #fceae8;
    border-radius: 10px;

}
.my-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border-style: none;
    color: #fff;
    padding: 9px 25px;
    border-radius: 8px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.cat1{
    background-color: rgb(48, 32, 4);
}
.cat2{
    background-color: #FF136F;

}
.cat3{
    background-color: blueviolet;
}
.catagories h1{
    color: #fff;
}
.catagories img{
    width: 100px;
}
.shadow{
    border: none;
    box-shadow: 5px 5px 10px lightgray
}
.ajob{
    background-color: #fceae8;
    height: 300px;
}
.bb{
    margin-bottom: 15px;
}
.ajob h6{
    color: gray;
}