.container{
    margin-bottom: 90px;
}
.my-bg{
    background-color: #fceae8;
    border-radius: 10px;

}
.my-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border-style: none;
    color: #fff;
    padding: 9px 25px;
    border-radius: 8px;
    cursor: pointer;
}